{#Left side column. contains the logo and sidebar#}
<aside class="main-sidebar" style="background-color: #37474F">

    {#sidebar: style can be found in sidebar.less#}
    <section class="sidebar">

        {#Sidebar user panel#}
        {% if app.user is not null %}
            <div class="user-panel">
                <div class="pull-left image">
                    <img
                        src="{{ asset('bundles/app/main-assets/dist/img/user2-160x160.jpg')}}"
                        {#src="{{ image_avatar }}"#}
                        class="img-circle x-hand"
                        alt="{{ app.user.name }} {{ app.user.lastName }}"
                        >
                    {#onclick="location.href='{{ path('frontend_profile_index', {slug:app.user.slug}) }}';"#}
                </div>
                <div class="pull-left info">
                    <p>{{ app.user.name ~ ' ' ~ app.user.lastName }}</p>
                    <a href="#">
                        <i class="fa fa-circle text-success"></i> Online
                    </a>
                </div>
            </div>
        {% endif %}

        {#search form#}
        <form id="search-box-sidebar" action="#" method="get" class="sidebar-form" >
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar..." style="background-color: white">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>

        {#{{ path('backend_googledrive_index', {id:'my-drive'}) }}#}
        {#sidebar menu: : style can be found in sidebar.less#}
        <ul class="sidebar-menu">

            <li class="header">MENU PRINCIPAL</li>

{#            <li class="treeview {% if app.request.get('_route') matches '(app_role)' %}active{% endif %}">
                <a href="{{ path('app_role_index') }}">
                    <i class="fa fa-expeditedssl"></i>
                    <span>Gestionar role</span>
                </a>
            </li>

            <li class="treeview {% if app.request.get('_route') matches '(app_profile)' %}active{% endif %}">
                <a href="{{ path('app_profile_index') }}">
                    <i class="fa fa-expeditedssl"></i>
                    <span>Gestionar profile</span>
                </a>
            </li>#}

            <li class="treeview {% if app.request.get('_route') matches '(app_user)' %}active{% endif %}">
                <a href="{{ path('app_user_index') }}">
                    <i class="fa fa-user"></i>
                    <span>Gestionar usuarios</span>
                </a>
            </li>

            <li class="treeview {% if app.request.get('_route') matches '(app_product_index)' %}active{% endif %}">
                <a href="{{ path('app_product_index') }}">
                    <i class="fa fa-cube"></i>
                    <span>Gestionar productos</span>
                </a>
            </li>

            <li class="treeview {% if app.request.get('_route') matches '(app_generar_requerimiento_create)' %}active{% endif %}">
                <a href="{{ path('app_generar_requerimiento_create') }}">
                    <i class="fa fa-file-code-o"></i>
                    <span>Generar requerimiento</span>
                </a>
            </li>

            <li class="treeview
                {% if app.request.get('_route') matches
            '(app_despacho_almacen_index|app_despacho_almacen_view)' %}active{% endif %}"
            >
                <a href="{{ path('app_despacho_almacen_index') }}">
                    <i class="fa fa-cubes"></i>
                    <span>Listar requerimiento</span>
                </a>
            </li>

            <li class="treeview
                {% if app.request.get('_route') matches '(app_invitar_cotizar_proveedores_index)' %}active{% endif %}"
            >
                <a href="{{ path('app_invitar_cotizar_proveedores_index') }}">
                    <i class="fa fa-users"></i>
                    <span>Invitar cotizar proveedores</span>
                </a>
            </li>

            <li class="treeview
                {% if app.request.get('_route') matches '(app_quotation_main_lista_cotizacion)' %}active{% endif %}"
            >
                <a href="{{ path('app_quotation_main_lista_cotizacion') }}">
                    <i class="fa fa-sticky-note"></i>
                    <span>Lista cotizacion</span>
                </a>
            </li>

            <li class="treeview
                {% if app.request.get('_route') matches '(app_quotation_main_lista_cotizacion)' %}active{% endif %}"
            >
                <a href="{{ path('app_quotation_main_lista_cotizacion') }}">
                    <i class="fa fa-sticky-note"></i>
                    <span>lista ordenes compra</span>
                </a>
            </li>

            {#

            <li class="treeview
                {% if app.request.get('_route') matches '(app_recepcion_mercaderia_index)' %}active{% endif %}"
            >
                <a href="{{ path('app_recepcion_mercaderia_index') }}">
                    <i class="fa fa-cubes"></i>
                    <span>Recepción de mercadería</span>
                </a>
            </li>

            <li class="treeview {% if app.request.get('_route') matches '(app_invitar_cotizar_proveedores_index)' %}active{% endif %}">
                <a href="{{ path('app_invitar_cotizar_proveedores_index') }}">
                    <i class="fa fa-money"></i>
                    <span>Invitar a cotizar proveedores</span>
                </a>
            </li>

            <li class="treeview {% if app.request.get('_route') matches '(app_buscar_cotizacion_index)' %}active{% endif %}">
                <a href="{{ path('app_buscar_cotizacion_index') }}">
                    <i class="fa fa-search"></i>
                    <span>Buscar cotizacion</span>
                </a>
            </li>

            <li class="treeview {% if app.request.get('_route') matches '(app_generar_orden_compra_index)' %}active{% endif %}">
                <a href="{{ path('app_generar_orden_compra_index') }}">
                    <i class="fa fa-cc-visa"></i>
                    <span>Generar Orden Compra</span>
                </a>
            </li>
            #}

        </ul>

    </section>

</aside>