{% extends "AppBundle::template.html.twig" %}

{% block bodyclass %}{% spaceless %}
    {{ crud.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    filter='cssrewrite'
        '@AppBundle/Resources/public/main-assets/plugins/datatables/dataTables.bootstrap.css'
        '@AppBundle/Resources/public/main-assets/plugins/datatables/extensions/Editor/css/editor.dataTables.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style>
        table#{{ crud.table_name }} tr.{{ crud.table_tr_class }}:hover {
            background-color: #d2d6de;
            cursor: pointer;
        }
        input[type=checkbox] {
            height: 20px;
            width: 20px;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@AppBundle/Resources/public/main-assets/plugins/datatables/jquery.dataTables.min.js'
        '@AppBundle/Resources/public/main-assets/plugins/datatables/dataTables.bootstrap.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        $(document).ready(function() {

            $("#cotizacion-unica").click(function(){
                $('#modal-cotizacion-unica').modal('show');
            });

        });

    </script>

{% endblock %}

{% block content %}

    {% if isEmpty %}
        <div id="flashbag-warning" class="flashbag flashbag-warning">
            <a class="pull-right" href="#" rel="tooltip" data-toggle="tooltip" data-placement="left" title="cerrar">×</a>
            <i class="fa fa-fw fa-warning"></i> Generar Contizacion:: Seleccione producto
        </div>
    {% endif %}

    <section class="content-header">
        <h1>
            <i class="fa fa-fw fa-users"></i> Invitar a cotizar proveedores
            <small>lista</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>

            {#<li>#}
                {#<a class="btn btn-success btn-xs modal-create"#}
                        {#alt="Crear item"#}
                        {#title="Crear item"#}
                        {#href="{{ path('app_generar_requerimiento_create') }}"#}
                        {#style="margin-right: 5px; color:white">#}
                    {#<i class="fa fa-fw fa-plus"></i> crear requerimiento#}
                {#</a>#}
            {#</li>#}
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">

                    {#
                    <div class="box-header">
                        <h3 class="box-title">Data Table With Full Features</h3>
                    </div>
                    #}

                    <form method="post">

                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-12 table-responsive">

                                    {#
                                    <a type="button"
                                       href="{{ path('app_invitar_cotizar_proveedores_index') }}"
                                       id="pasar-compras"
                                       class="btn bg-purple btn-flat margin">
                                        Generar Orden Compra
                                    </a>

                                    <button type="button"
                                            id="cotizacion-unica"
                                            class="btn bg-orange btn-flat margin">
                                        Cotizacion unica
                                    </button>
                                    #}

                                    <button type="submit"
                                            class="btn bg-purple btn-flat margin">
                                        Generar cotizacion unica
                                    </button>

                                    <table id="{{ crud.table_name }}"
                                           class="table table-bordered table-striped dataTable"
                                           role="grid"
                                           aria-describedby="example1_info">
                                        <thead>
                                            <tr>
                                                <th>&nbsp</th>
                                                <th>Requerimiento</th>
                                                <th>Codigo Producto</th>
                                                <th>Nombre</th>
                                                <th>Cantidad pedida</th>
                                                <th>Stock</th>
                                            </tr>
                                        </thead>
                                            <tbody>

                                            {% for obj in productsArray %}

                                                {% set obj = obj|first %}

                                                <tr class="tr-table " {# x-hand #}
                                                    {#onclick="window.location.href = '{{ path("app_despacho_almacen_view", {id:obj.id}) }}';"#}
                                                >
                                                    <td>
                                                        <input
                                                            type="checkbox"
                                                            name="quote[]"
                                                            value="{{ obj.requerimiento.id_increment ~'#'~ obj.product.id_increment }}">
                                                    </td>
                                                    <td>
                                                        <span data-toggle="tooltip"
                                                              title=""
                                                              class="badge bg-yellow"
                                                              data-original-title="{{ obj.requerimiento.id_increment|e }}">
                                                            000{{ obj.requerimiento.id_increment|e }}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        {{ obj.product.id_increment|e }} -
                                                        <small class="label label-primary">
                                                            {{ obj.product.code|e }}
                                                        </small>
                                                    </td>
                                                    <td>
                                                        {{ obj.product.name|e }}
                                                    </td>
                                                    <td>
                                                        {{ obj.stock|e }}
                                                    </td>
                                                    <td>
                                                        {{ obj.product.stock|e }}
                                                    </td>
                                                </tr>

                                            {% endfor %}

                                            </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>&nbsp</th>
                                                <th>Requerimiento</th>
                                                <th>Codigo Producto</th>
                                                <th>Nombre</th>
                                                <th>Cantidad pedida</th>
                                                <th>Stock</th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>

    {{ include('AppBundle:InvitarCotizarProveedores:Modal/cotizacion-unica.html.twig') }}
    {#{{ include('AppBundle:Crud:Modal/edit.html.twig') }}#}
    {#{{ include('AppBundle:Crud:Modal/delete.html.twig') }}#}
    {#{{ include('AppBundle:Crud:Modal/view.html.twig') }}#}
    {#{{ include('AppBundle:Crud:Modal/info.html.twig') }}#}

{% endblock %}